<h1>wp-processes-view</h1>

<select ng-model="$ctrl.selectModel.value" ng-change="$ctrl.onSelectOption($ctrl.selectModel.value)">
  <option ng-repeat="option in $ctrl.typesListOptions" value="{{ option.name }}" ng-hide="option.visible === false">{{ option.name }}</option>
</select>

<div class="attributes-group wp-processes-view">

    <div class="attributes-group--header">
      <div class="attributes-group--header-container">
        <h3 class="attributes-group--header-text">Types</h3>
      </div>
    </div>

    <div class="-columns-2">

      <!-- field -->
      <div class="attributes-key-value" ng-repeat="type in $ctrl.typesList track by $index" ng-hide="type.checked === false">
        <div class="attributes-key-value--key">

          <span class="ng-binding">
            {{ type.name }}
          </span>

        </div>

        <div class="attributes-key-value--value-container customField5">
          <div class="items-container">
            <div class="row-items">
              <div class="">
                <!-- <span ng-if="type.duration">duration: {{ type.duration }}</span> -->
                <span>duration: </span>
                <input
                  type="number"
                  class="number-input no-spinners"
                  ng-min="0"
                  ng-model="type.duration"
                  ng-change="$ctrl.recalculateTypeListDates(type.name)">
              </div>

              <div class="">
                <!-- <span ng-if="type.wait">wait: {{ type.wait }}</span> -->
                <span>wait: </span>
                <input
                  type="number"
                  class="number-input no-spinners"
                  ng-model="type.wait"
                  ng-change="$ctrl.recalculateTypeListDates(type.name)">
              </div>
            </div>

            <div class="row-items">
              <div class="">
                <span ng-if="type.startDate">start: {{ type.startDate }}</span>
              </div>

              <div class="">
                <span ng-if="type.dueDate">end: {{ type.dueDate }}</span>
              </div>
            </div>
          </div>

          <div class="wp-edit-field inplace-edit -editable customField5 -small -active content-center">
            <input type="checkbox" ng-model="type.checked" ng-change="$ctrl.recalculateTypeListDates(type.name)" title="Remove Task">
          </div>
        </div>
      </div>
    </div>
</div>
