<h1>wp-processes-view</h1>

<div ng-repeat="type in $ctrl.typesList track by $index" style="background-color: lightcoral;">
  <h3>{{ type.name }}</h3>

  <input type="checkbox" ng-model="type.checked" ng-change="$ctrl.calculatePeriod($ctrl.typesList)">

  <span ng-if="type.duration">duration: {{ type.duration }}</span>
  <span ng-if="type.wait">wait: {{ type.wait }}</span>

  <span ng-if="type.startDate">start: {{ type.startDate }}</span>
  <span ng-if="type.dueDate">due: {{ type.dueDate }}</span>
</div>

<button ng-click="$ctrl.addTaskToSubtask()">addTaskToSubtask</button>
<button ng-click="$ctrl.getForm()">get form</button>
