.wp-processes-view
  .items-container
    width: 100%
    padding: 7px 20px

  .row-items
    display: flex
    flex-direction: row
    justify-content: space-around

  .row-items > div
    width: 50%

  .content-center
    display: flex
    justify-content: center
    flex-direction: column
